<% content_for :title, "Editing meal post" %>

<h1>Editing meal post</h1>

<%= render "form", meal_post: @meal_post %>

<br>

<div>
  <%= link_to "Show this meal post", @meal_post %> |
  <%= link_to "Back to meal posts", meal_posts_path %>
</div>
